MDK-ARM/C_Board_Standard_Robot/
*.d
*.o
*.o.d
*.dmp
*.list
*.bin
*.crf
*.map
*.lst
.*.un~
.*.swp
*.gch
.idea/

build/
.vscode/
MDK-ARM/
!MDK-ARM/startup_stm32f407xx.s
!MDK-ARM/C_Board_Standard_Robot.uvoptx
